<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
          <h1>Payment SuccessFull</h1>
          <p>Thankyou ! your payment has been processed successfully.</p>
          <p>Order Status : CONFIRMED</p>
          <p>You will receive the conformation email shortly</p>
          <a href="/" class="button">Go to HomePage</a>
    </div>
</body>
</html>